body{
    background-color: black;
    color: white;
    font-family: Geneva;
}

.bg_navbar{
    background-color: #212529;
    color: white;
}

#maincenter{
    align-items: center;
}

#dandadan{
    background-size: cover;
    object-fit: cover;
    height: 35vh;
    background-position: bottom;
    opacity: 35%;
}

#espaço{
    padding-top: 4px;
}

#espaçoplus{
    padding-top: 15px;
}

#destaques{
    padding-top: 4px;
    text-align: center;
    border: 3px;
    border-style:dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Fonte{
    padding-top: 25px;
    padding-left:80px;
}

#Fonte2{
    padding-left:80px;
}

#Cards{
    padding-top: 10px;
}

#center{
    display: flex;
    justify-content: center;
}

#fundo{
    margin-top: 5vw;
    border-style:outset ;
    border-color: grey;
    min-height: 50vh;
}

#imagemdetalhes{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#weighttxt{
    min-width: 20vw;
}

#middle{
    display: flex;
    align-items: center;
}

#bordacard{
    border-style:groove;
    border-color: gray;
}

#imagemdetalhes img{
    max-height: 80%;
    max-width: 80%;
    min-height: 70%;
    min-width: 70%;
}