body{
    background-color: black;
    color: white;
    font-family: Geneva;
}

.bg_navbar{
    background-color: #212529;
    color: white;
}

#maincenter{
    align-items: center;
}

#dandadan{
    background-size: cover;
    object-fit: cover;
    height: 35vh;
    background-position: bottom;
    opacity: 35%;
}

#espaço{
    padding-top: 4px;
}

#destaques{
    padding-top: 4px;
    text-align: center;
    border: 3px;
    border-style:dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Fonte{
    padding-top: 25px;
    padding-left:80px;
}

#Fonte2{
    padding-left:80px;
}

#Cards{
    padding-top: 10px;
}

#center{
    display: flex;
    justify-content: center;
}